.navbar {
    background-color: #23596d;
    color: #eeecdd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    padding: 0% 5%;
}

.navbar img {
    width: 20%;
    margin: 18px;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    white-space: nowrap; /* Prevent list items from wrapping */
}

.navbar ul li {
    list-style: none;
    margin-right: 50px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: #eeecdd;
}

.navbar ul li a:hover {
    color: #d4d2c4;
}

.menu {
    display: none;
}

@media screen and (max-width: 480px) {
    .navbar {
        padding: 15px; /* Add some padding for spacing */
        flex-direction: column;
        align-items: start;
    }

    .top-bar {
        display: flex;
        flex-direction: row;
    }

    .navbar img {
        width: 30%;
        margin: 0px 10px;
    }

    .navbar ul {
        flex-direction: column; /* Stack items vertically */
        width: 100%;
        margin: 0;
        display: none;
    }

    .navbar ul.open {
        display: flex;
    }

    .navbar ul li {
        width: 100%;
        text-align: center;
    }

    .menu {
        display: flex;
        align-items: center;
        padding: 2%;
    }
}
