.navbar {
    background-color: #23596d;
    color: #eeecdd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar img {
    width: 15%;
    margin: 5px;
}

@media screen and (max-width: 480px) {
    .navbar img {
        width: 50%;
        margin: 0px 10px;
    }
}