.text-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0%;
}

.intro-text, .left-text, .right-text {
    text-align: left;
    width: 100%; /* Set the width of the text area */
    margin-right: 5%;
}

.intro-img {
    position: relative;
    width: 100%;
    height: auto;
}

.intro-img img {
    max-width: 50%;
    border-radius: 20px;
    display: block;
    position: absolute;
    filter: drop-shadow(5px 5px 5px gray);
}

.intro-img img:first-child {
    z-index: 1;
    top: -250px;
    left: 150px;
}

.intro-img img:last-child {
    z-index: 2;
    top: 0px;
    left: 200px;
}

.scratch-out, .minesweeper-out {
    background-color: #f0caa4;
    display: flex;
    margin: 5% auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 20px;
    opacity: 0;
    animation: fadeIn 800ms ease-in-out 2500ms forwards;
}

.scratch-out p, .minesweeper-out p {
    padding-right: 2%;
    text-align: center;
}

.scratch-out a, .minesweeper-out a {
    font-weight: bolder;
    text-decoration: underline;
    color: #23596d;
}

.scratch-out a:hover, .minesweeper-out a:hover {
    color: #87bcc7;
}

.scratch-out img, .minesweeper-out img {
    padding: 2%;
    width: 10%;
}

.minesweeper-out {
    background-color: rgb(195, 191, 191);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bold {
    font-weight: bold;
}

.bold.green {
    color: #4a6f28;
}

.bold.orange {
    color: #F7AD19;
}

.left-text {
    margin-left: 5%;
    margin-right: 0;
    width: 70%;
}

.right-text {
    margin-right: 5%;
    margin-left: 0;
    width: 100%;
}

.right-img, .left-img {
    padding-top: 5%;
}

.right-img img, .left-img img {
    max-width: 70%;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(5px 5px 5px gray);
}

.left-img {
    width: 80%;
}

.left-img img {
    max-width: 60%;
}

.caption {
    font-size: 15px;
    text-align: center;
}

.photo-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.photo-grid:last-child {
    margin-bottom: 5%;
}

/* MOBILE CODE */
@media screen and (max-width: 480px) {
    .text-div {
        flex-direction: column;
        padding-top: 5%;
        padding-bottom: 0%;
    }

    .text-div:nth-child(3) {
        flex-direction: column-reverse;
    }

    .intro-text, .left-text, .right-text {
        margin-left: 0;
        margin-right: 0;
        width: 80%;
    }

    .intro-img img {
        display: flex;
        position: relative;
        max-width: 60%;
    }

    .intro-img img:first-child {
        top: 20px;
        left: 45px;
    }

    .intro-img img:last-child {
        top: -20px;
        left: 115px;
    }

    .scratch-out, .minesweeper-out {
        width: 100%;
    }

    .scratch-out img, .minesweeper-out img {
        width: 20%;
        padding-left: 5%;
    }

    .left-img img {
        max-width: 80%;
    }

    .photo-grid {
        flex-direction: column;
    }

    .photo-txt {
        margin: 5% auto;
        width: 80%;
    }
}