.home-col, .projects {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 0%;
}

.projects {
    flex-direction: column;
}

.img {
    width: 50%;
    flex-shrink: 0;
    margin-right: 20px; /* Add some space between image and text */
}

.img img {
    max-width: 75%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(5px 5px 5px gray);
}

.text {
    width: 50%; /* Set the width of the text area */
    margin-right: 5%;
    color: #23596d;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin: 30px 0px;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}

.hover {
    font-weight: bolder;
}

.hover:hover {
    text-decoration: underline;
    background-color:yellow;
    color: black;
}

.text h2 {
    font-size: 20px;
    text-decoration: underline;
}

.projects h3 {
    color: #23596d;
    text-align: center; 
}

.projects h2, .projects p {
    padding: 0% 10%;
}

.projects h2 {
    color: #23596d;
    margin-bottom: 0px;
}

.projects p {
    color: #23596d;
    margin-top: 5px;
}

/* animation class and keyframes */
.overflow-hidden {
    overflow: hidden;
    margin: 0;
}

.drop-in {
    animation: drop-in 1800ms ease 200ms backwards;
}

.drop-in h3 {
    margin-bottom: 0;
}

.drop-in-2 {
    animation: drop-in 2000ms ease 1200ms backwards;
}

.drop-in-2 p {
    margin-bottom: 0;
}

@keyframes drop-in {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}


@media screen and (max-width: 480px) {
    .home-col {
        flex-direction: column;
        padding-top: 5%;
        padding-bottom: 0%;
    }

    .img, .text {
        margin-right: 0;
        width: 80%;
    }

    .text h3 {
        font-size: 40px;
    }

    .img img {
        max-width: 100%;
    }

    .projects {
        display: flex;
    }

    .text-2 {
        width: 80%;
    }

    .projects h3 {
        font-size: 40px;
    }

    .projects h2, .projects p {
        padding: 0;
    }
}

a {
    color: #eeecdd;
    text-decoration: none;
}