.home-col, .projects {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 0%;
}

.projects {
    flex-direction: column;
}

.img {
    width: 50%;
    flex-shrink: 0;
    margin-right: 20px; /* Add some space between image and text */
}

.img img {
    max-width: 75%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(5px 5px 5px gray);
}

.text {
    width: 50%; /* Set the width of the text area */
    margin-right: 5%;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin: 30px 0px;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}

.hover {
    font-weight: bolder;
}

.text h2 {
    font-size: 20px;
    text-decoration: underline;
}

.projects h3 {
    text-align: center; 
}

.projects h2, .projects p {
    padding: 0% 10%;
}

.projects h2 {
    margin-bottom: 0px;
}

.projects p {
    margin-top: 5px;
}

/* animation class and keyframes */
.overflow-hidden {
    overflow: hidden;
    margin: 0;
}

.drop-in {
    animation: drop-in 1800ms ease 200ms backwards;
}

.drop-in h3 {
    margin-bottom: 0;
}

.drop-in-2 {
    animation: drop-in 2000ms ease 1000ms backwards;
}

.drop-in-2 a {
    color: #23596d;
}

.drop-in-2 a:hover, .contact-link a:hover {
    color: #3684a0;
}

.drop-in-2 p {
    margin-bottom: 0;
}

a {
    color: #eeecdd;
    text-decoration: none;
}

.contact-link {
    flex-direction: column;
    text-align: center;
}

.contact-link h3 {
    margin-bottom: 0;
}

.contact-link p {
    margin-top: 10px;
    padding-bottom: 5%;
}

.contact-link a {
    color: #23596d;
    font-weight: bold;
    text-decoration: underline;
}

@keyframes drop-in {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}

@media screen and (max-width: 480px) {
    .home-col {
        flex-direction: column;
        padding-top: 5%;
        padding-bottom: 0%;
    }

    .img, .text {
        margin-right: 0;
        width: 80%;
    }

    h3 {
        font-size: 40px;
    }

    .img img {
        max-width: 100%;
    }

    .projects {
        display: flex;
    }

    .text-2 {
        width: 80%;
    }

    .contact-link {
        padding: 5%;
    }

    .projects h2, .projects p {
        padding: 0;
    }

    /* TEMP TEXT CODE */
    .temp p {
        padding: 0% 5%;
    }
    /* TEMP TEXT CODE */
}

/* TEMP TEXT CODE */
.temp {
    background-color: #be533e;
    text-align: center;
    padding: 0.1% 0%;
}

.temp p {
    color: #eeecdd;
}
/* TEMP TEXT CODE */