.resume {
    width: 80%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 5%;
}

.resume hr {
    width: 100%;
    border: 1px solid #23596d;
}

.resume h3 {
    margin: 0;
}

.resume a {
    color: #23596d;
    text-decoration: underline;
}

.resume a:hover {
    font-weight: bold;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arrows {
    display: flex;
    align-items: center;
}

.arrows p {
    margin-left: 10px;
    margin-right: 10px;
}

.disabled {
    color: gray;
    opacity: 40%;
    pointer-events: none;
}

.arrow-icon {
    color: #23596d;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .resume {
        padding: 5%;
    }

    .top-bar h3 {
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}