.resume {
    text-align: center;
    padding: 2% 5%;
}

.resume h3 {
    margin-bottom: 0;
}

.offlink {
    background-color: #d4664b;
    text-align: center;
    padding-top: 0.15%;
    padding-bottom: 0.15%;
    width: 40%;
    border-radius: 20px;
    margin: 0 auto;
    filter: drop-shadow(5px 5px 5px gray);
}

.offlink p {
    color: #eeecdd;
}

.offlink a {
    font-weight: bolder;
    text-decoration: underline;
}

.offlink a:hover {
    color: #d4d2c4;
}

@media screen and (max-width: 480px) {
    .resume {
        padding: 5%;
    }

    .offlink {
        width: 80%;
        padding-left: 5%;
        padding-right: 5%;
    }
}